# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: "ESLint"

on: # yamllint disable-line rule:truthy
    push:
        paths:
            - "**.js"
            - "**.jsx"
            - "**.ts"
            - "**.tsx"
    pull_request:
        paths:
            - "**.js"
            - "**.jsx"
            - "**.ts"
            - "**.tsx"

# Enable this to use the github packages
# yamllint disable-line rule:comments
#env:
#    package: "@${{ github.repository }}"
#    registry_url: "https://npm.pkg.github.com"
#    scope: "${{ github.repository_owner }}"

jobs:
    eslint:
        name: "ESLint"

        runs-on: "ubuntu-latest"

        steps:
            - name: "Git checkout"
              uses: "actions/checkout@v2"
              with:
                  fetch-depth: 0
                  persist-credentials: false
              env:
                  GIT_COMMITTER_NAME: "GitHub Actions Shell"
                  GIT_AUTHOR_NAME: "GitHub Actions Shell"
                  EMAIL: "github-actions[bot]@users.noreply.github.com"

            - name: "Configure Container"
              env:
                  GIT_USER_EMAIL: "${{ secrets.GIT_USER_EMAIL }}"
                  GIT_USER_USERNAME: "${{ secrets.GIT_USER_USERNAME }}"
              run: |
                  EMAIL=${GIT_USER_EMAIL:-"github-actions[bot]@users.noreply.github.com"}
                  NAME=${GIT_USER_USERNAME:-"github-actions-shell"}

                  git config --global user.email "${EMAIL}"
                  git config --global user.name "${NAME}"

            - name: "Use Node.js 16.x"
              uses: "actions/setup-node@v2"
              with:
                  node-version: "16.x"
                  # Enable this to use the github packages
                  # registry-url: "${{ env.registry_url }}"
                  # Defaults to the user or organization that owns the workflow file
                  # scope: "@${{ env.scope }}"

            - name: "Install pnpm"
              run: "curl -f https://get.pnpm.io/v6.16.js | node - add --global pnpm@6"

            - name: "Cache .pnpm-store"
              uses: "actions/cache@v4"
              id: "pnpm-cache" # use this to check for `cache-hit` (`steps.pnpm-cache.outputs.cache-hit != 'true'`)
              with:
                  path: "~/.pnpm-store"
                  key: "${{ runner.os }}-node16.x-${{ hashFiles('**/pnpm-lock.yaml') }}"
                  restore-keys: |
                      ${{ runner.os }}-pnpm-

            - name: "Install packages"
              run: "pnpm install --frozen-lockfile"

            - run: "pnpm run lint"
